<section class="hero pt-xlarge pb-medium">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <div class="hero-card text-center">

          <div class="breadcrumbs mt-3">
            <span>Główna | </span><span> {{ title }} </span>
          </div>
          <h1 class="xxl split-lines my-3 my-md-4 uppercase">{{ title }}</h1>

        </div>
      </div>
    </div>
  </div>
</section>
