<section class="pb-small pb-md-xlarge" data-scroll-section>
  <div class="container">
    <div class="row pb-small">
      <div class="col-md-4">
          <p class="large mt-0">
            Sprawdź co zyskasz?
          </p>
      </div>
      <div class="col-md-8">
        <div class="text-highlight-wrap">
        <p class="h1 mt-0 text-highlight">
            <span>&nbsp;</span> Zdobądź piękną stronę internetową, która przekona znacznie więcej klientów niż strony Twojej konkurencji! 
        </p>
        </div>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-6">
        <img src="/content/blog/img/blog-ux-seo.jpg" alt="" class="border">
      </div>
      <div class="col-md-6">
        <img src="/content/blog/img/blog-web-design.jpg" alt="" class="border">
      </div>
    </div>
  </div>
</section>