<section class="hero pt-large pt-md-xlarge pb-xsmall pb-md-large" data-scroll-section>
  <div class="container hero-bg">
    <div class="col-md-6">
      <h1 class="xxl split-lines">
        Pomożemy Ci stworzyć biznes na lata 
      </h1>
    </div>
  </div>
</section>

