<section class="pb-md-large" data-scroll-section>
  <div class="container">

    <div class="service-wrap">

      <div class="row service-item pb-small">
        <div class="col-md-1">
          <p class="my-2">
            01
          </p>
        </div>
        <div class="col-md-5">
            <h3 class="h2 my-0">
              Strony internetowe
            </h3>
        </div>
        <div class="col-md-5">
            <p class="my-0">
              Piękne i wysokowydajne strony internetowe które skutecznie realizują cele biznesowe.
            </p>
        </div>
        <div class="col-md-1">
          <svg width="60" height="60" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="60" cy="60" r="59" stroke="#333" stroke-width="2"/>
            <path d="M82.7071 60.7071C83.0976 60.3166 83.0976 59.6834 82.7071 59.2929L76.3431 52.9289C75.9526 52.5384 75.3195 52.5384 74.9289 52.9289C74.5384 53.3195 74.5384 53.9526 74.9289 54.3431L80.5858 60L74.9289 65.6569C74.5384 66.0474 74.5384 66.6805 74.9289 67.0711C75.3195 67.4616 75.9526 67.4616 76.3431 67.0711L82.7071 60.7071ZM37 61H82V59H37V61Z" fill="#333"/>
          </svg>            
        </div>
      </div>

      <div class="line-x lx-op"></div>

      <div class="row service-item pt-small pb-small">
        <div class="col-md-1">
          <p class="my-2">
            02
          </p>
        </div>
        <div class="col-md-5">
            <h3 class="h2 my-0">
              Sklepy internetowe
            </h3>
        </div>
        <div class="col-md-5">
            <p class="my-0">
              Funkcjonalne, nowoczesne i przemyślane sklepy oparte o platformę WooCommerce.
            </p>
        </div>
        <div class="col-md-1">
          <svg width="60" height="60" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="60" cy="60" r="59" stroke="#333" stroke-width="2"/>
            <path d="M82.7071 60.7071C83.0976 60.3166 83.0976 59.6834 82.7071 59.2929L76.3431 52.9289C75.9526 52.5384 75.3195 52.5384 74.9289 52.9289C74.5384 53.3195 74.5384 53.9526 74.9289 54.3431L80.5858 60L74.9289 65.6569C74.5384 66.0474 74.5384 66.6805 74.9289 67.0711C75.3195 67.4616 75.9526 67.4616 76.3431 67.0711L82.7071 60.7071ZM37 61H82V59H37V61Z" fill="#333"/>
          </svg>            
        </div>
      </div>

      <div class="line-x lx-op"></div>

      <div class="row service-item pt-small pb-small">
        <div class="col-md-1">
          <p class="my-2">
            03
          </p>
        </div>
        <div class="col-md-5">
            <h3 class="h2 my-0">
              Pozycjonowanie stron
            </h3>
        </div>
        <div class="col-md-5">
            <p class="my-0">
              Dobór fraz kluczowych, optymalizacja techniczna, analiza konkurencji, linkbuilding.
            </p>
        </div>
        <div class="col-md-1">
          <svg width="60" height="60" viewBox="0 0 120 120" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="60" cy="60" r="59" stroke="#333" stroke-width="2"/>
            <path d="M82.7071 60.7071C83.0976 60.3166 83.0976 59.6834 82.7071 59.2929L76.3431 52.9289C75.9526 52.5384 75.3195 52.5384 74.9289 52.9289C74.5384 53.3195 74.5384 53.9526 74.9289 54.3431L80.5858 60L74.9289 65.6569C74.5384 66.0474 74.5384 66.6805 74.9289 67.0711C75.3195 67.4616 75.9526 67.4616 76.3431 67.0711L82.7071 60.7071ZM37 61H82V59H37V61Z" fill="#333"/>
          </svg>            
        </div>
      </div>

      <div class="line-x lx-op"></div>

    </div>


  </div>
</section>
